fastapi
uvicorn
python-dotenv
pinecone-client
llama-index
llama-index-core
llama-index-llms-google-genai
llama-index-embeddings-google-genai
llama-index-vector-stores-pinecone
llama-parse
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
nest-asyncio